<!DOCTYPE html>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <meta http-equiv="Context-Type" content="text/html" charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
<div class="container">
  <form th:action="@{upload}" method="post">
    <input placeholder="이름" type="text" class="form-control" name="name">
    <input placeholder="제목" type="text" class="form-control" name="title">
    <textarea placeholder="내용" class="form-control" name="content"></textarea>
    <button type="submit">저장</button>
  </form>
</div>
</body>
</html>